<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.dpsAryCell.DpsAryCellMapper">

  <!-- 获取CELL/ARY DPS PC上传的版本 -->
  <select id="getDpsCellAryVer" resultType="java.lang.String">
    select DISTINCT file_ver from  dps_excel_arycel
  </select>

  <!-- 获取CELL的DPS数据 -->
  <select id="getDpsCell" parameterType="java.lang.String" resultType="java.util.HashMap">
    SELECT
    file_ver,
    fab_date,
    model_id_dps,
    output_name,
    sub_type,
    colum_name,
    qty,
    file_name
    FROM dps_excel_arycel
    WHERE file_ver = #{ver}
    and output_name &lt;&gt; ''
    and sub_type = 'Cell Input'
    and qty>0
    ORDER BY model_id,fab_date,colum_name
  </select>

  <!-- 获取ARY的DPS数据 -->
  <select id="getDpsAry" parameterType="java.lang.String" resultType="java.util.HashMap">
    select
      file_ver,
      fab_date,
      model_id_dps,
      output_name,
      sub_type,
      colum_name,
      qty,
      file_name
    from dps_excel_arycel
    WHERE output_name &lt;&gt; ''
      and sub_type = 'Array Input'
      and file_ver = #{ver}
      and qty>0
    order by model_id,fab_date,colum_name
  </select>

  <!-- 获取ARY OC材料的DPS数据 -->
  <select id="getDpsAryOc" parameterType="java.lang.String" resultType="java.util.HashMap">
    select
      file_ver,
      fab_date,
      model_id_dps,
      output_name,
      sub_type,
      colum_name,
      qty,
      file_name
    from dps_excel_arycel
    WHERE output_name &lt;&gt; ''
      and sub_type = 'Array OC Input'
      and file_ver = #{ver}
      and qty>0
    order by model_id,fab_date,colum_name
  </select>

  <select id="getDpsPackage" resultType="java.util.HashMap">
    select
      file_ver,
      fab_date,
      model_id_dps,
      sub_type,
      colum_name,
      qty,
      file_name
    from dps_excel_arycel
    where file_ver= #{ver}
      and sub_type = 'Cell Input'
      and qty>0
      AND model_id_dps IN
      <foreach item="item" index="index" collection="productList" open="(" separator="," close=")">
        #{item}
      </foreach>
  </select>

  <select id="getAryMps" resultType="java.util.HashMap">
    SELECT mps_ver, ary_model_name as product, fab_date as fabDate,
      mps_qty as qty,
      model_id as project, tft_mtrl_id as tftMtrl
    FROM dps_mps_demand WHERE ary_model_name &lt;&gt; '' AND mps_ver=#{ver}
  </select>

  <select id="getAryMpsVer" resultType="java.lang.String">
    SELECT DISTINCT mps_ver FROM dps_mps_demand where ary_model_name &lt;&gt; ''
  </select>

  <select id="getCellMps" resultType="java.util.HashMap">
    SELECT
      mps_ver, cellin_model_name as product, fab_date as fabDate,
      mps_qty as qty,
      model_id as project, tft_mtrl_id as tftMtrl
    from dps_mps_demand_cell WHERE cel_model_name &lt;&gt; '' AND mps_ver=#{ver}
  </select>

  <select id="getCellMpsVer" resultType="java.lang.String">
    SELECT DISTINCT mps_ver from dps_mps_demand_cell where cel_model_name &lt;&gt; ''
  </select>
</mapper>