<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.eif.mapper.BomMapper">

  <!-- 获取LCM1的BOM -->
  <select id="getBomLcm1" resultType="com.ivo.mrp2.entity.Bom">
    select
           'LCM1' as plant,
           productModel_FK as product,
           Material_FK as Material,
           MaterialName as MaterialName,
           MaterialGroup_FK as MaterialGroup,
           Mtrl_GroupName as materialGroupName,
           MeasureUnit_FK as measureUnit,
           usage as usageQty
    from MM_V_BOM_M1
  </select>

  <!-- 获取LCM2的BOM -->
  <select id="getBomLcm2" resultType="com.ivo.mrp2.entity.Bom">
    select
           'LCM2' as plant,
           productModel_FK as product,
           Material_FK as Material,
           MaterialName as MaterialName,
           MaterialGroup_FK as MaterialGroup,
           Mtrl_GroupName as MaterialGroupName,
           MeasureUnit_FK as MeasureUnit,
           usage as usageQty
    from MM_V_BOM_M2
  </select>

  <!-- 获取Cell的BOM -->
  <select id="getBomCell" resultType="com.ivo.mrp2.entity.Bom">
    SELECT
      t.*,
      (select MaterialGroupName FROM MM_O_MaterialGroup g where g.MaterialGroup_ID=t.MaterialGroup) as MaterialGroupName
    from (
          select a.plant, a.PRODUCT, a.MTRL_ID as Material, a.MEASURE_UNIT as MeasureUnit, a.usageqty as usageQty, b.MaterialName as MaterialName, b.MaterialGroup_FK as MaterialGroup
          from MM_O_CELLBOM a, MM_O_Material b
          where a.MTRL_ID  =b.Material_ID
            and a.ValidFlag =1
          union all
          select  a.plant,a.PRODUCT,a.MTRL_ID,a.MEASURE_UNIT,a.usageqty,b.MaterialName,b.MaterialGroup_FK
          from  MM_O_CELLBOMFORPK a, MM_O_Material b
          where a.MTRL_ID  =b.Material_ID
            and a.ValidFlag =1
    ) t
  </select>
</mapper>