<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.eif.mapper.SliceMapper">

  <!-- 获取机种的切片数 -->
  <select id="getProductSlice" resultType="com.ivo.mrp2.entity.ProductSlice">
    select distinct Substring(ProjectName,0, Len(ProjectName)-len(Substring(ProjectName,CHARINDEX('-',ProjectName)+1,Len(ProjectName)))) as product ,cut as slice
    from  BG_O_Project b
    where ValidFlag = 1
    and cut &lt;&gt; ''
    and cut &lt;&gt; 'NA'
    order by Substring(ProjectName,0, Len(ProjectName)-len(Substring(ProjectName,CHARINDEX('-',ProjectName)+1,Len(ProjectName)))) ;
  </select>
</mapper>