<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.eif.EifMapper">
  <!-- 获取料号数据 -->
  <select id="getMaterial" resultType="java.util.HashMap">
    select Material_ID as material, materialName, MaterialGroup_FK as materialGroup, MeasureUnit_FK as measureUnit
    from MM_O_Material
  </select>

  <!-- 获取物料组数据 -->
  <select id="getMaterialGroup" resultType="java.util.HashMap">
    select MaterialGroup_id as materialGroup, materialGroupName
    from MM_O_MaterialGroup
  </select>

  <!-- 获取机种数据 -->
  <select id="getProject" resultType="java.util.HashMap">
    select distinct Substring(ProjectName,0, Len(ProjectName)-len(Substring(ProjectName,CHARINDEX('-',ProjectName)+1,Len(ProjectName)))) as project ,
                    cut, application, Size_FK as size
    from  BG_O_Project b
    where ValidFlag = 1
      and cut &lt;&gt; ''
      and cut &lt;&gt; 'NA'
    order by Substring(ProjectName,0, Len(ProjectName)-len(Substring(ProjectName,CHARINDEX('-',ProjectName)+1,Len(ProjectName)))) ;
  </select>

  <!-- 获取LCM1的BOM -->
  <select id="getBomLcm1" resultType="java.util.HashMap">
    select
      PLANT as plant, ProductModel_FK as product, MATERIAL_FK as material, MeasureUnit_FK as measureUnit,
      MaterialName as materialName, MATERIALGROUP_FK as materialGroup, Mtrl_GroupName as materialGroupName,
      [usage] as usageQty
    from MM_V_BOM_M1
    where
      MATERIALGROUP_FK not in ('906', '912', '916', '917', '918','919','305','920','921','922','924')
      or
        (
      MATERIALGROUP_FK = '924'
      and
      MATERIAL_FK not in ('3822617-010','380C41Q-010','2846802.000','2694001.000','32A93A6-000',
      '3840302.000','3820304.000','3820153.000','3820155.000','39033S0-000','3280103-000',
      '3280105-000','3280101-000','3280102-000','3280104-000','3280002-000','3280001-000',
      '3802901-000','3820303.000')
      )
  </select>

  <!-- 获取LCM2的BOM -->
  <select id="getBomLcm2" resultType="java.util.HashMap">
    select
      PLANT as plant, ProductModel_FK as product, MATERIAL_FK as material, MeasureUnit_FK as measureUnit,
      MaterialName as materialName, MATERIALGROUP_FK as materialGroup, Mtrl_GroupName as materialGroupName,
      [usage] as usageQty
    from MM_V_BOM_M2
    where
      MATERIALGROUP_FK not in ('906', '912', '916', '917', '918','919','305','920','921','922','924')
      or
        (
      MATERIALGROUP_FK = '924'
      and
      MATERIAL_FK not in ('2843801-000','2843802-000','28461L0-010','28468K0-000','32A93A6-000',
      '39033S0-000','3802901-000','3280101-000','3280102-000')
      )
  </select>


  <!-- 获取LCM1的包材BOM -->
  <select id="getBomPackageLcm1" resultType="java.util.HashMap">
    select
      PLANT as plant, ProductModel_FK as product, MATERIAL_FK as material, MeasureUnit_FK as measureUnit,
      MaterialName as materialName, MATERIALGROUP_FK as materialGroup, Mtrl_GroupName as materialGroupName,
      [usage] as usageQty
    from MM_V_BOM_M1
    where
      MATERIALGROUP_FK in ('906', '912', '916', '917', '918','919','305','920','921','922')
  </select>

  <!-- 获取LCM2的包材BOM -->
  <select id="getBomPackageLcm2" resultType="java.util.HashMap">
    select
      PLANT as plant, ProductModel_FK as product, MATERIAL_FK as material, MeasureUnit_FK as measureUnit,
      MaterialName as materialName, MATERIALGROUP_FK as materialGroup, Mtrl_GroupName as materialGroupName,
      [usage] as usageQty
    from MM_V_BOM_M2
    where
      MATERIALGROUP_FK in ('906', '912', '916', '917', '918','919','305','920','921','922')
  </select>

  <!-- 获取LCM1的替代料关系 -->
  <select id="getMaterialSubstituteLcm1" resultType="java.util.Map">
    SELECT
      'LCM1' as fab, a.productModel_fk as product, a.materialGroup_fk as materialGroup, a.material_fk as material, a.usageProbability as rate,
      a.MaterialName as materialName, a.Mtrl_GroupName as materialGroupName, a.AltItemGroup
    FROM mm_v_bom_m1replace a
    order by a.productModel_FK, a.MaterialGroup_FK, a.Material_FK
  </select>

  <!-- 获取LCM2的替代料关系 -->
  <select id="getMaterialSubstituteLcm2" resultType="java.util.Map">
    SELECT
      'LCM2' as fab, a.productModel_fk as product, a.materialGroup_fk as materialGroup, a.material_fk as material, a.usageProbability as rate,
      a.MaterialName as materialName, a.Mtrl_GroupName as materialGroupName, a.AltItemGroup
    FROM mm_v_bom_m2replace a
    order by a.productModel_FK, a.MaterialGroup_FK, a.Material_FK
  </select>

  <!-- 获取CELL的替代料关系 -->
  <select id="getMaterialSubstituteCell" resultType="java.util.Map">
    select
      'CELL' as fab, a.PRODUCT as product, b.MaterialGroup_FK as materialGroup, a.MTRL_ID as material, a.MEASURE_UNIT,
      b.MaterialName as materialName, c.MaterialGroupName as materialGroupName,  A.ALT_ITEM_GROUP
    from MM_O_CELLBOM_REPLACE a, MM_O_Material b, MM_O_MaterialGroup c
    where a.MTRL_ID=b.Material_ID and b.MaterialGroup_FK=c.MaterialGroup_ID and a.ValidFlag =1
    ORDER BY a.plant,a.PRODUCT,ALT_ITEM_GROUP
  </select>

  <select id="getMaterialByAryMtrl" resultType="java.util.Map">
    SELECT distinct Product_FK as product, b.Material_FK as material, a.BaseQty as baseQty, b.qty as qty, a.MeasureUnit_FK as measureUnit
    from MM_M_BomMaster a , MM_D_BomItem b
    where a.Product_FK = #{aryMtr}
      and a.ValidFlag = 1
      and b.ValidFlag = 1
      and a.BomMaster_ID = b.BomMaster_FK
      and (b.Material_FK like '57%' or b.Material_FK like '51%')
    order by Product_FK,b.Material_FK ;
  </select>

  <select id="getSupplierMaterial" resultType="java.util.Map">
    select DISTINCT B.Material_FK as material,A.Vendor_FK as supplierCode ,C.VendorName1 as supplierName
    from MM_M_PurchaseOrderRequisition A
           INNER JOIN MM_D_PurchaseOrderRequisitionITEM B
                      ON A.PurchaseOrderRequisition_ID  =B.PurchaseOrderRequisition_FK
           LEFT JOIN (SELECT * FROM MM_O_Vendor WHERE ValidFlag=1) C
                     ON C.Vendor_ID= A.Vendor_FK
    WHERE  A.ValidFlag =1
      AND B.ValidFlag =1
      AND A.OrderTask_FK ='980'
      AND SapCode LIKE '45%'
      AND convert(char(10), DateOfOrder, 120) >= convert(char(10),  dateadd(dd,-30,getdate()), 120)
    order by Material_FK
  </select>

  <select id="getActualArrivalQty" resultType="java.util.Map">
    select fab_date as fabDate, matnr as material ,qty ,ordernumber as orderNumber,Vendor as supplierCode,
           werks, lgort from MM_O_MRPYZINVT where ValidFlag=1 and fab_date=#{fabDate}
    order by ordernumber
  </select>
</mapper>