<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.dps.mapper.DpsMapper">
  <!-- 根据版本捞取DPS -->
  <select id="getDpsByVer" parameterType="java.lang.String" resultType="com.ivo.rest.dps.entity.RestDps">
    SELECT fab_id, fab_date, model_id, prod_id, bpc_qty, dps_ver FROM dps_bpc WHERE dps_ver= #{ver}
  </select>

  <!-- 获取DPS所有版本 -->
  <select id="getDpsVer" resultType="java.lang.String">
    SELECT dps_ver from dps_bpc GROUP BY dps_ver
  </select>
</mapper>