<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivo.rest.fcst.FcstMapper">
  <!-- 获取MPS中的CELL BOM成品料号14料号 -->
  <select id="getBomCell" resultType="java.util.HashMap">
    select distinct CellInPut, Material_FK,Project from (
                                                          select CellInPut, Material_FK,Project from SD_O_MPSModelDetail WHERE CellInPut is not null
                                                          union all
                                                          select CellInPut, Material_FK,Project from SD_O_MPSModelDetailHis WHERE CellInPut is not null
                                                        ) t  order by CellInPut
  </select>

  <!-- 获取MPS中的Ary BOM的15料号 -->
  <select id="getBomAry" resultType="java.util.HashMap">
    select distinct ArrayInPut, TFTMtrl,Project from (
                                                       select ArrayInPut, TFTMtrl,Project from SD_O_MPSModelDetail WHERE ArrayInPut is not null
                                                       union all
                                                       select ArrayInPut, TFTMtrl,Project from SD_O_MPSModelDetailHis WHERE ArrayInPut is not null
                                                     ) t ORDER BY ArrayInPut
  </select>


  <!-- 获取CELL的MPS机种命名 -->
  <select id="getCellMpsMode" resultType="java.util.HashMap">
    select DISTINCT CellInPut_PC, Material_FK from (
                                                     select CellInPut_PC, Material_FK from SD_O_MPSModelDetail where CellInPut_PC is not NULL and ValidFlag=1
                                                     union all
                                                     select CellInPut_PC, Material_FK from SD_O_MPSModelDetailHis where CellInPut_PC is not NULL and ValidFlag=1
                                                   ) t
  </select>


  <!-- 获取MPS的DateOfInsert作版本 -->
  <select id="getMpsDateOfInsertForVersion" resultType="java.lang.String">
    select DISTINCT DateOfInsert from SD_D_MPSDetailbyDateNewHis where ValidFlag=1 and InsertType='release'
  </select>

  <!-- 获取CELL MPS的DateOfInsert版本数据 -->
  <select id="getCellMpsDate" parameterType="java.lang.String" resultType="java.util.HashMap">
    select
      CellInPut,OutOfDate, SUM(qty) as qty
    from
      (
        select
          (select  DISTINCT CellInPut from SD_O_MPSModelDetail b where b.ValidFlag=1 and b.CellOutPut=MPSKey) as CellInPut,
          Cast(Value as decimal(10,3)) as qty,
          *
        from SD_D_MPSDetailbyDateNewHis
        where ValidFlag=1 and InsertType='release'
          and OutOfDate like '%Total%'
          and DateOfInsert = #{dateOfInsert}
          and MPSColumn='CellInPut'
      )t
    where CellInPut is not null
    GROUP BY CellInPut,OutOfDate
    order by  CellInPut
  </select>

  <!-- 获取ARY MPS的DateOfInsert版本数据 -->
  <select id="getAryMpsDate" parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from SD_D_MPSDetailbyDateNewHis where ValidFlag=1 and InsertType='release'
                                               and OutOfDate like '%Total%'
                                               and MPSColumn='ArrayInPut'
                                               and MPSKey &lt;&gt; ''
                                               and DateOfInsert = #{dateOfInsert}
  </select>

  <!-- 获取LCM的MPS  -->
  <select id="getMpsLcm" resultType="java.util.HashMap">
    select
      Material_FK + Version as product,
      LCM1InQty as lcm1Qty,
      LCM2InQty as lcm2Qty
    from SD_D_FCSTPSIManagementItemHis
    where
      InsertType='release' and ValidFlag=1
      and MaterialType='MDL'
      and (LCM1InQty>0 or LCM2InQty>0)
      and [Year]=#{year} and [Month]=#{month}
  </select>
</mapper>